<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

form {
        margin: auto;
        width: 35%;
    }
    
.result {
        margin: auto;
        width: 35%;
        border: 1px solid #ccc;
    }

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
</style>

</head>
<body>


<h2>Cycle Time Prediction API Form</h2>
<p>API Form.</p>
<p></p>

<form class="form-inline" action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        DistanceGgl
        <input name="DistanceGgl" type="text" placeholder="30" required>
        <br>
        <br> DurationGgl
        <input name="DurationGgl" type="text" placeholder="30" required>
        <br>
        <br> TrafficDurationGgl
        <input name="TrafficDurationGgl" type="text" placeholder="30" required>
        <br>TrafficDurationOptGgl
        <input name="TrafficDurationOptGgl" type="text" placeholder="30" required>
        <br>TruckDistance_here
        <input name="TruckDistance_here" type="text" placeholder="30" required>
        <br>TruckTrafficTime_here
        <input name="TruckTrafficTime_here" type="text" placeholder="30" required>
        <br>gh_travel_time
        <input name="gh_travel_time" type="text" placeholder="30" required>
        <br>gh_distance
        <input name="gh_distance" type="text" placeholder="30" required>
        <br>gh_steps
        <input name="gh_steps" type="text" placeholder="30" required>
        <br>gh_left_turns
        <input name="gh_left_turns" type="text" placeholder="30" required>
        <br>ascend_ratio
        <input name="ascend_ratio" type="text" placeholder="30" required>
        <br>primeracarga
        <input name="primeracarga" type="text" placeholder="True" required>
        <br>GRqty
        <input name="GRqty" type="text" placeholder="30" required>
        <br>elementopopular
        <input name="elementopopular" type="text" placeholder="True" required>
        <br>especialidadpopular
        <input name="especialidadpopular" type="text" placeholder="True" required>
        <br>subcanalpopular
        <input name="subcanalpopular" type="text" placeholder="True" required>
        <br>ZZLOAD_FREQ
        <input name="ZZLOAD_FREQ" type="text" placeholder="30" required>
        <br>voltotal
        <input name="voltotal" type="text" placeholder="30" required>
        <br>TemperatureAvgC
        <input name="TemperatureAvgC" type="text" placeholder="30" required>
        <br>Precipitationmm
        <input name="Precipitationmm" type="text" placeholder="30" required>
        <br>WindSpeedAvgKMH
        <input name="WindSpeedAvgKMH" type="text" placeholder="30" required>
        <br>WindSpeedMaxKMH
        <input name="WindSpeedMaxKMH" type="text" placeholder="30" required>
        <br>PressureMaxhPa
        <input name="PressureMaxhPa" type="text" placeholder="30" required>
        <br>PressureMinhPa
        <input name="PressureMinhPa" type="text" placeholder="30" required>
        <br>ZZUNLOAD_METH
        <input name="ZZUNLOAD_METH" type="text" placeholder="TIRO DIRECTO" required>
        <br>diasem
        <input name="diasem" type="text" placeholder="Friday" required>
        <br>epoca
        <input name="epoca" type="text" placeholder="summerbr" required>
        <br>Plnt
        <input name="Plnt" type="text" placeholder="DF53" required>
        <br>H3_Distance
        <input name="H3_Distance" type="text" placeholder="30" required>
        <br>H3_Time
        <input name="H3_Time" type="text" placeholder="30" required>
        <br>
        <br>
        <input type="submit" value="Predict">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Predicted Cycle Time in Minute:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

</body>
</html>